# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv/
env/
*.env

# Backend
backend/app/__pycache__/
backend/app/connectors/__pycache__/

# ML artifacts (only ignore huge temporary stuff, keep models & dataset)
ml/__pycache__/
*.h5
*.ckpt

# Flutter / Dart
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
*.dart_tool/
*.flutter-plugins
*.flutter-plugins-dependencies
*.iml

# Android
**/android/.gradle/
**/android/app/build/
**/android/build/
**/android/local.properties

# iOS
**/ios/Pods/
**/ios/Flutter/Flutter.podspec
**/ios/Runner.xcworkspace/
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner/Flutter/ephemeral/
**/ios/Runner/Flutter/Flutter-Debug.xcconfig
**/ios/Runner/Flutter/Flutter-Release.xcconfig

# Linux
**/linux/build/
**/linux/flutter/

# Windows
**/windows/flutter/
**/windows/runner/*.exe
**/windows/runner/*.manifest

# Mac
**/macos/Flutter/ephemeral/
**/macos/Flutter/*.xcconfig
**/macos/Runner.xcworkspace/

# Web
**/web/main.dart.js
**/web/flutter_service_worker.js
**/web/flutter.js
**/web/flutter_bootstrap.js
**/web/canvaskit/
**/web/assets/

# IDE / Editor
.vscode/
.idea/
*.iml

# Logs
*.log
